* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.Hello-and-Namaste {
    text-align: center;
    margin: 138px auto;
}

.Hello-and-Namaste>p:first-child {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #898f99;
    font-weight: bold;
    margin: 25px auto;
}

.Hello-and-Namaste>p~p {
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    color: #999999;
    text-transform: uppercase;
    margin: 40px auto 58px auto;
    max-width: 512px;
}

h2 {
    color: #0ec8cb;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    margin: 25px auto 40px auto;
}

.cards {
    display: inline-block;
}

.card {
    padding: 55px 30px 90px 30px;
    max-width: 300px;
    background-color: #f7f7f7;
    list-style-type: none;
    float: left;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-left: 0.5px solid #ececec;
    border-right: 0.5px solid #ececec;
}

.st0 {
    margin: 55 auto;
    width: 66px;
    height: 66px;
    fill: #000;
}

h3 {
    color: #1b1b1b;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    height: 50px;
    width: 175px;
    margin: 55px auto 40px auto;
    overflow: hidden;
}

.card>p {
    display: block;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    color: #777777;
    margin: 40px auto 0px auto;
    width: 190px;
}

.card:hover,
.card:hover>p,
.card:hover>h3,
.card:hover>.st0 {
    color: #fff;
    background-color: #0ec8cb;
    fill: #fff;
}

.card:hover {
    border-bottom: 1px solid #0ec8cb;
    border-top: 1px solid #0ec8cb;
    border-left: 0.5px solid #0ec8cb;
    border-right: 0.5px solid #0ec8cb;
}
