.contact {
    background-color: b2b2b2;
    @include bg-cover("#{$folder-image}bg_contact.jpg");
    position: relative;
    height: 700px;

    &__info-card {
        margin-top: 400px;
        width: 100%;
        padding: 35px 55px;
        background-color: #fff;
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 45px;
    }

    &__address,
    &__tel,
    &__email {
        display: block;
        text-decoration: none;
        color: $default-color-text;
        margin-bottom: 45px;
    }

    &__icon {
        margin-right: 6px;
        vertical-align: middle;
    }

    &__form {
        align-items: flex-end;
    }

    &__form-element {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border: none;
        border-bottom: $iron solid 1px;
        font-size: $default-font-size;
        font-family: $font-default-name;
    }

    &__button {
        align-items: flex-end;
    }
}