.gallery {
    padding: 140px 0;

    @media screen and (max-width: 992px) {
        padding: 100px 0;
    }

    @media screen and (max-width: 768px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 576px) {
        padding: 40px 0;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    &__photo-360 {
        position: relative;

        &::after {
            content: '';
            @include position-center;
            display: block;
            width: 80px;
            height: 80px;
            @include bg-cover('#{$folder-image}360.png');
        }
    }

    &__photo {
        display: block;
        height: 100%;
        position: relative;



        &_up {
            padding-bottom: 10px;
        }

        &_left {
            padding-right: 10px;
        }
    }

    &__photo {
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(-40px, 0, 0);
    }
    &__none-photo{
        width: 285px;
        display: block;
    }

    &__button {
        margin: 0 auto;
        margin-top: 60px;
        display: block;
    }

    @media screen and (max-width: 1200px) {
        &__row {
            justify-content: center;
        }

        &__title {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 580px) {
        &__photo {
            height: 250px;
            padding: 5px 0px;
        }

        &__button {
            margin-top: 20px;
        }

        &__title {
            margin-bottom: 10px;
        }
    }
}
.display-none{
    display: none;
}
.active-flex{
    display: flex;
}