.gallery {
    padding: 140px 0;

    &__title {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    &__photo-360 {
        position: relative;

        &::after {
            content: '';
            @include position-center;
            display: block;
            width: 80px;
            height: 80px;
            @include bg-cover('#{$folder-image}360.png');
        }
    }

    &__photo {
        display: block;
        height: 100%;
        position: relative;

        &_up {
            padding-bottom: 10px;
        }

        &_left {
            padding-right: 10px;
        }
    }

    &__button {
        margin: 0 auto;
        margin-top: 60px;
        display: block;
    }
}