$alto: #ddd;
$green: #008000;
$chambray:#3b5998;
$color-white: #ffffff;
$color-black: #000000;
$grey: #bababa;
$orange: #ff6033;
$brown: #a52a2a;
$mine-shaft: #363636;
$fire-bash: #E2A432;

$co-gardient: linear-gradient(135deg, rgba(226,164,50,1) 0%, rgba(226,147,50,1) 25%, rgba(226,164,50,1) 50%, rgba(226,147,50,1) 75%, rgba(226,164,50,1) 100%);

$input-border-color: $grey;
$default-border-radius: 5px;

$facebook-color: $chambray;

$default-border: 1px solid $input-border-color;

$container-width: 1200px;
$default-gap: 15px;

$body-bg-color: $green;
$border-color: $alto;

$font-folder-path: '../fonts/';
$folder-image: '../image/';

$font-default-name: 'Noto Sans JP';
$font-secondary-name: 'Raleway';

$follback: Arial,
Helvetica,
sans-serif;

$font-default: $font-default-name,
$follback;
$font-secondary: $font-secondary-name,
$follback;

$default-font-size: 16px;
$default-color-text: $color-black;


$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 769px,
    "sm": 576px,
    "vsm": 480px);
