.button {
    border: none;
    font-size: $default-font-size;
    color: $color-white;
    background-color: $dodger-blue;
    
    padding: 23px 37px;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    font-family: $font-secondary;
    font-weight: 400;
    width: 225px;
    height: 60px;
}
