.our-clients {
    @include bg-cover('#{$folder-image}bg-tourist.jpg');
    padding: 105px 0;

    @media screen and (max-width: 1100px) {
        padding: 85px 0;
    }

    @media screen and (max-width: 650px) {
        padding: 65px 0;
    }

    &__title {
        margin-bottom: 100px;
        text-align: center;
    }

    &__img {
        display: block;
    }

    &__black-block {
        background-color: $dark-mine-shaft;
        height: 100%;
        margin-left: - $default-gap * 2;
    }

    &__info-block {
        margin-left: 10px;
        padding: 50px 25px 0 50px;
    }

    &__name {
        margin-bottom: 40px;
        font-size: 20px;
    }

    &__quotation {
        text-indent: 2em;
    }

    @media screen and (max-width: 1050px) {
        &__info-block {
            padding: 15px 25px 0 50px;
        }

        &__title {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 992px) {
    .our-clients {
        &__black-block {}

        &__info-block {
            font-size: 15px;
        }

        &__name {
            margin-bottom: 20px;
        }

        &__quotation {

            display: block;
        }
    }
}
@media screen and (max-width: 867px){
    
}
