.footer {
    background-color: $mine-shaft;
    text-align: center;
    padding: 105px 0 35px;

    &__strong {
        display: block;
        margin-bottom: 10px;
    }

    /* .footer__text */

    &__text {
        margin-bottom: 20px;
    }

    &__social-sites {
        max-width: 140px;
        margin: 0 auto;
    }

    /* .footer__facebook-link */

    &__facebook-link {}

    /* .footer__twitter */

    &__twitter {}

    /* .footer__linkedin */

    &__linkedin {}

    /* .footer__youtube */

    &__youtube {}

    /* .footer__pinterest */

    &__pinterest {}
}

.logo {}

.social-sites {
    &__flex {
        justify-content: space-between;
    }

    /* .social-sites__logo-facebook */

    &__logo-facebook {}

    /* .social-sites__logo-twitter */

    &__logo-twitter {}

    /* .social-sites__logo-linkedin */

    &__logo-linkedin {}

    /* .social-sites__logo-youtube */

    &__logo-youtube {}

    /* .social-sites__logo-pinterest */

    &__logo-pinterest {}

    &__item {}

}

.icon-sites {
    fill: $color-white;
    &:hover{
        fill: $dodger-blue;
    }
}
