_jurrie-section.scss
.jurrie-section{

  .view-cards-container {
    position: relative;
    padding: 0 0 64px;
    margin: 0 0 64px;

    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #E8E4EE;
    }
    @media screen and (max-width: 767px) {
      padding: 0 0 32px;
      margin: 0 0 32px;
    }
  }
}
.jurrie-block {
  margin-bottom: 80px;

  &__presentation-photo-block{
    margin-left: 50px;
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 15px;
      margin: 0;
    }
  }
  &__presentation-photo{
    width: 486px;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
  &__info-body{
    max-width: 590px;
    font-size: 24px;
    color: #161C3D;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }
  &__name-jurrie{
    font-size: 36px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__members-list{
    margin: 20px 0 30px;
  }
  &__members-item{
    padding: 0 12px;
    line-height: 28px;
    color: #FFFFFF;
    background: #AC38B5;
    border-radius: 20px;
    margin-right: 12px;
    font-size: 14px;
  }
  &__description-list{}
  &__description-item{
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &__description-item-tittle{
    color: #9797B5;
    margin-right: 12px;
  }
  &__description-item-link{
    color: #AC38B5;
    text-decoration: underline #AC38B5;
  }
  &__changing-long-text{
    font-size: 20px;
    line-height: 34px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

-------------------------------------------------------------------------------
.jurrie-section{

  .view-cards-container {
    position: relative;
    padding: 0 0 64px;
    margin: 0 0 64px;

    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #E8E4EE;
    }
    @media screen and (max-width: 767px) {
      padding: 0 0 32px;
      margin: 0 0 32px;
    }
  }
}
.jurrie-block {
  margin-bottom: 80px;

  &__presentation-photo-block{
    margin-left: 50px;
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 15px;
      margin: 0;
    }
  }
  &__presentation-photo{
    width: 486px;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
  &__info-body{
    max-width: 590px;
    font-size: 24px;
    color: #161C3D;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }
  &__name-jurrie{
    font-size: 36px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__members-list{
    margin: 20px 0 30px;
  }
  &__members-item{
    padding: 0 12px;
    line-height: 28px;
    color: #FFFFFF;
    background: #AC38B5;
    border-radius: 20px;
    margin-right: 12px;
    font-size: 14px;
  }
  &__description-list{}
  &__description-item{
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &__description-item-tittle{
    color: #9797B5;
    margin-right: 12px;
  }
  &__description-item-link{
    color: #AC38B5;
    text-decoration: underline #AC38B5;
  }
  &__changing-long-text{
    font-size: 20px;
    line-height: 34px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

_contest-list-section.scss
.contest-list-section {
  &__tittle-block {
  }

  &__tittle {
    font-size: 36px;
    font-family: Merriweather;
    color: #161C3D;
    margin: 0;
    @media screen and (max-width: 767px){
      font-size: 20px;
    }
  }
  &__mobile-filters-btn{
    display: block;
    position: relative;
    color: #AC38B5;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;


    &:hover{
      text-decoration: none;
      color: #AC38B5;
    }

  }

  &__container {
    margin-top: 30px;
    @media screen and (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__filter-search {
    @media  screen and (max-width: 992px) {
      padding: 10px 0;
    }
  }

  &__btn-search {
    top: 50% !important;
    left: 30px;
    transform: translateY(-50%);
  }

  &__contest-list {
  }

  &__map-block {
  }


  &__filters {
    color: #161C3D;
    .row{
      flex-direction: row-reverse;
    }
  }
  &__filter-block{
    position: relative;
  }
  &__filter-block-title{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #E8E4EE;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #161C3D;
    position: relative;
    max-height: 44px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #9797B5;
      border-right: 2px solid #9797B5;
    }
  }

  &__filter-list{
    position: absolute;
    width: 100%;
    padding: 15px 20px 0;
    top: 46px;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 7px rgba(172, 172, 172, 0.12);
    border-radius: 8px;
    z-index: 99;
    height: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    max-height: 300px;
    overflow-y: scroll;
  }
  &__filter-block_active {
    .contest-list-section__filter-block-title {
      box-shadow: 0px 0px 2px 1px #C293C6;
      &:after{
        transform: rotate(225deg);
      }
    }
    .contest-list-section__filter-list{
      visibility: visible;
      height: auto;
    }
  }
  &__filter-item{
    margin-bottom: 15px;
    line-height: 24px;

    input[type=checkbox] {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      &:before{
        content: '';
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
        height: 16px;
        width: 16px;
        margin-right: 12px;
        background: #fff;
        border: 1px solid #C293C6;
        border-radius: 2px;
      }
    }
  }
}

.contest-list-section input[type=text] {
  width: 100%;
  height: auto;
  border: 1px solid #E8E4EE;
  padding-right: 10px;
  padding-left: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 44px;
  color: #9797B7;

  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 2px 1px #C293C6;
  }

  @media screen and (max-width: 992px) {
    display: block;

  }
}
.contest-list-section {
  @media screen and (max-width: 767px){
    &__filters-block {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      z-index: 20;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(154, 147, 147, 0.15);
      width: 0;
      visibility: hidden;
      padding: 20px 16px;
      transition: all 0.5s ease-in-out;
      .btn-icon__close{
        top: 20px;
        right: 20px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      &_active {
        visibility: visible;
        width: 195px;
        .btn-icon__close{
          opacity: 1;
        }
      }
    }
    &__filter-block-title {
      padding: 10px 0;
      border: none;
      box-shadow: none;
      &:after{
        display: none;
      }
    }
    &__filter-list {
      position: static;
      display: block;
      visibility: visible;
      padding: 0;
      height: auto;
      box-shadow: none;
    }
    &__filter-item{
    }
  }
}

.contest-list {
  font-size: 16px;
  color: #454545;
  margin: 50px 0 30px;
  overflow-x: scroll;
  max-width: 1200px;

  @media screen and (max-width: 1199px) {
    overflow-x: scroll;
  }
  @media screen and (max-width: 767px){
    margin: 25px 0 30px;
  }

  &__header {
    color: #9797B5;
    background-color: #F3F2F8;
    font-weight: 600;

    &:nth-child(n) {
      line-height: 42px;
      max-height: 42px;
    }
  }

  &__header-name,
  &__name {
    width: 333px;
    @media screen and (max-width: 767px) {
      width: 200px;
    }
  }

  &__header-country,
  &__country {
    width: 127px;
  }

  &__header-city,
  &__city {
    width: 104px;
  }

  &__header-instruments,
  &__instruments {
    width: 210px;
    @media screen and (max-width: 767px) {
      width: 150px;
    }
  }

  &__header-dotation,
  &__dotation {
    width: 118px;
  }

  &__header-date,
  &__date {
    width: 118px;
  }

  &__header-view,
  &__view {
    width: 75px;
  }

  &__wrap {
  }

  &__item {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #F3F2F8;
      z-index: 1;
    }
    &:after{
      top: 0;
    }

    &:nth-child(n) {
      line-height: 50px;
      max-height: 50px;
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }

  }
  &__item,
  &__header {
    &:nth-child(n) {
      display: inline-flex;
      justify-content: left;
      overflow: hidden;
      text-overflow: ellipsis;
      span,
      a {
        padding: 0 15px;
      }
    }
  }

  &__name {
  }

  &__country {
  }

  &__city {
  }

  &__instruments {
  }

  &__dotation {
  }

  &__date {
  }

  &__view-link {
    display: block;
    width: 100%;
    visibility: hidden;
    color: #AC38B5;
    cursor: pointer;

    &:hover{
      text-decoration: none;
      color: #AC38B5;
    }
  }

  &__item {
    &:hover{
      &:before,
      &:after {
        z-index: 2;
        background: #C293C6;
      }
      .contest-list__view-link{
        visibility: visible;
      }
    }
  }
  &__header,
  &__item {
    @media screen and (max-width: 1199px) {
    }
  }
}

.contestListSelectedItems-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -5px -5px;

  .contest-list-selected {
    display: flex;
    flex-wrap: wrap;

    .contest-list-selected-item{
      position: relative;
      font-size: 16px;
      background-color: #F3F2F9;
      padding: 4px 40px 4px 8px;
      border-radius: 8px;
      border: 1px solid #C293C6;
      color: #161C3D;
      margin: 5px;
      line-height: 24px;
      background-color: rgba(255, 255, 255, 0);
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }
    .contest-list-selected-btn{
      position: absolute;
      color: #C293C6;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.btn-icon__filters {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../img/mobile-filters-btn.svg");
  cursor: pointer;
  color: white;
  width: 24px;
  height: 24px;
}


.contest-list-section {
  &__tittle-block {
  }

  &__tittle {
    font-size: 36px;
    font-family: Merriweather;
    color: #161C3D;
    margin: 0;
    @media screen and (max-width: 767px){
      font-size: 20px;
    }
  }
  &__mobile-filters-btn{
    display: block;
    position: relative;
    color: #AC38B5;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;


    &:hover{
      text-decoration: none;
      color: #AC38B5;
    }

  }

  &__container {
    margin-top: 30px;
    @media screen and (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__filter-search {
    @media  screen and (max-width: 992px) {
      padding: 10px 0;
    }
  }

  &__btn-search {
    top: 50% !important;
    left: 30px;
    transform: translateY(-50%);
  }

  &__contest-list {
  }

  &__map-block {
  }


  &__filters {
    color: #161C3D;
    .row{
      flex-direction: row-reverse;
    }
  }
  &__filter-block{
    position: relative;
  }
  &__filter-block-title{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #E8E4EE;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #161C3D;
    position: relative;
    max-height: 44px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #9797B5;
      border-right: 2px solid #9797B5;
    }
  }

  &__filter-list{
    position: absolute;
    width: 100%;
    padding: 15px 20px 0;
    top: 46px;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 7px rgba(172, 172, 172, 0.12);
    border-radius: 8px;
    z-index: 99;
    height: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    max-height: 300px;
    overflow-y: scroll;
  }
  &__filter-block_active {
    .contest-list-section__filter-block-title {
      box-shadow: 0px 0px 2px 1px #C293C6;
      &:after{
        transform: rotate(225deg);
      }
    }
    .contest-list-section__filter-list{
      visibility: visible;
      height: auto;
    }
  }
  &__filter-item{
    margin-bottom: 15px;
    line-height: 24px;

    input[type=checkbox] {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      &:before{
        content: '';
        display: inline-block;
        flex-shrink: 0;
        flex-grow: 0;
        height: 16px;
        width: 16px;
        margin-right: 12px;
        background: #fff;
        border: 1px solid #C293C6;
        border-radius: 2px;
      }
    }
  }
}

.contest-list-section input[type=text] {
  width: 100%;
  height: auto;
  border: 1px solid #E8E4EE;
  padding-right: 10px;
  padding-left: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 44px;
  color: #9797B7;

  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 2px 1px #C293C6;
  }

  @media screen and (max-width: 992px) {
    display: block;

  }
}
.contest-list-section {
  @media screen and (max-width: 767px){
    &__filters-block {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      z-index: 20;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(154, 147, 147, 0.15);
      width: 0;
      visibility: hidden;
      padding: 20px 16px;
      transition: all 0.5s ease-in-out;
      .btn-icon__close{
        top: 20px;
        right: 20px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
      &_active {
        visibility: visible;
        width: 195px;
        .btn-icon__close{
          opacity: 1;
        }
      }
    }
    &__filter-block-title {
      padding: 10px 0;
      border: none;
      box-shadow: none;
      &:after{
        display: none;
      }
    }
    &__filter-list {
      position: static;
      display: block;
      visibility: visible;
      padding: 0;
      height: auto;
      box-shadow: none;
    }
    &__filter-item{
    }
  }
}

.contest-list {
  font-size: 16px;
  color: #454545;
  margin: 50px 0 30px;
  overflow-x: scroll;
  max-width: 1200px;

  @media screen and (max-width: 1199px) {
    overflow-x: scroll;
  }
  @media screen and (max-width: 767px){
    margin: 25px 0 30px;
  }

  &__header {
    color: #9797B5;
    background-color: #F3F2F8;
    font-weight: 600;

    &:nth-child(n) {
      line-height: 42px;
      max-height: 42px;
    }
  }

  &__header-name,
  &__name {
    width: 333px;
    @media screen and (max-width: 767px) {
      width: 200px;
    }
  }

  &__header-country,
  &__country {
    width: 127px;
  }

  &__header-city,
  &__city {
    width: 104px;
  }

  &__header-instruments,
  &__instruments {
    width: 210px;
    @media screen and (max-width: 767px) {
      width: 150px;
    }
  }

  &__header-dotation,
  &__dotation {
    width: 118px;
  }

  &__header-date,
  &__date {
    width: 118px;
  }

  &__header-view,
  &__view {
    width: 75px;
  }

  &__wrap {
  }

  &__item {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #F3F2F8;
      z-index: 1;
    }
    &:after{
      top: 0;
    }

    &:nth-child(n) {
      line-height: 50px;
      max-height: 50px;
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }

  }
  &__item,
  &__header {
    &:nth-child(n) {
      display: inline-flex;
      justify-content: left;
      overflow: hidden;
      text-overflow: ellipsis;
      span,
      a {
        padding: 0 15px;
      }
    }
  }

  &__name {
  }

  &__country {
  }

  &__city {
  }

  &__instruments {
  }

  &__dotation {
  }

  &__date {
  }

  &__view-link {
    display: block;
    width: 100%;
    visibility: hidden;
    color: #AC38B5;
    cursor: pointer;

    &:hover{
      text-decoration: none;
      color: #AC38B5;
    }
  }

  &__item {
    &:hover{
      &:before,
      &:after {
        z-index: 2;
        background: #C293C6;
      }
      .contest-list__view-link{
        visibility: visible;
      }
    }
  }
  &__header,
  &__item {
    @media screen and (max-width: 1199px) {
    }
  }
}

.contestListSelectedItems-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -5px -5px;

  .contest-list-selected {
    display: flex;
    flex-wrap: wrap;

    .contest-list-selected-item{
      position: relative;
      font-size: 16px;
      background-color: #F3F2F9;
      padding: 4px 40px 4px 8px;
      border-radius: 8px;
      border: 1px solid #C293C6;
      color: #161C3D;
      margin: 5px;
      line-height: 24px;
      background-color: rgba(255, 255, 255, 0);
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }
    .contest-list-selected-btn{
      position: absolute;
      color: #C293C6;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.btn-icon__filters {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../../img/mobile-filters-btn.svg");
  cursor: pointer;
  color: white;
  width: 24px;
  height: 24px;
}
// ViewCardsContainer.js
.view-cards-container{
  margin-bottom: 120px;

  &__title-block{
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
  &__title {
    line-height: 44px;
    font-size: 36px;
    color: #161C3D;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__view-btn-block{}
  &__view-btn{
    border: none;
    padding: 12px 20px;
    height: 44px;
    background: #AC38B5;
    border-radius: 8px;
    line-height: 20px;
    font-size: 16px;
    color: #FFFFFF;
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }
}
// DateTittleInstrumentsCard.js
.date-tittle-instruments-card{
  display: block;
  &:hover {
    text-decoration: none;
  }

  &__video-wrapper-img {
    width: 100%;
    height: 226px;
  }
  &__info-body {}
  &__date,
  &__instruments{
    color: #9797B5;
    font-size: 20px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__tittle{
    margin: 8px 0;
    font-size: 24px;
    color: #161C3D;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
}

//JurrieSection.js
.jurrie-section{

  .view-cards-container {
    position: relative;
    padding: 0 0 64px;
    margin: 0 0 64px;

    &:after{
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #E8E4EE;
    }
    @media screen and (max-width: 767px) {
      padding: 0 0 32px;
      margin: 0 0 32px;
    }
  }
}
.jurrie-block {
  margin-bottom: 80px;

  &__presentation-photo-block{
    margin-left: 50px;
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 0 15px;
      margin: 0;
    }
  }
  &__presentation-photo{
    width: 486px;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
  &__info-body{
    max-width: 590px;
    font-size: 24px;
    color: #161C3D;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }
  &__name-jurrie{
    font-size: 36px;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__members-list{
    margin: 20px 0 30px;
  }
  &__members-item{
    padding: 0 12px;
    line-height: 28px;
    color: #FFFFFF;
    background: #AC38B5;
    border-radius: 20px;
    margin-right: 12px;
    font-size: 14px;
  }
  &__description-list{}
  &__description-item{
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  &__description-item-tittle{
    color: #9797B5;
    margin-right: 12px;
  }
  &__description-item-link{
    color: #AC38B5;
    text-decoration: underline #AC38B5;
  }
  &__changing-long-text{
    font-size: 20px;
    line-height: 34px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
