.cocktail {
    &__co-search {
        background-color: #e2a432;
        padding: 10px 15px;
    }
}
.co-search {
    &__search-block {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        background-color: #fff;
    }
    &__input {
        display: block;
        border: none;
        line-height: 38px;
        font-size: 14px;
        &:focus{
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }
        padding: 0 10px;
        flex-grow: 1;
    }
    &__btn {
        display: block;
        border: none;
        background-color: #fff;
        cursor: pointer;
        padding: 3px 10px;
    }
    &__icon {
        width: 28px;
        height: 28px;
        background-color: #fff;
        fill: #757575;
    }
}
