* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(60, 60, 60);
    font-family: "Lato";
}

.who_we_are{
    padding-top: 106px;
}
.who_we_are-title {
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: -12px;
}

.who_we_are-title::after {
    content: "";
    display: block;
    background-color: rgb(221, 219, 219);
    width: 45px;
    height: 4px;
    margin: 0 auto;
    margin-top: 8px;
}

.who_we_are-p {
    font-size: 16px;
    text-align: center;
    width: 561px;
    margin: 0 auto;
    margin-bottom: 59px;
    line-height: 1.4;
}

.who_we_are-list {
    max-width: 1170px;
    margin: 0 auto;
}

.who_we_are-list_item {
    width: 22%;
    display: inline-block;
    margin: 0px 15px;
    position: relative;
    overflow: hidden;
}

.who_we_are-list_item .who_we_are-contacts {
    background-color: #18b5dc;
    width: 269px;
    height: 268px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: rotateY(270deg) scale(0);
    transition: transform 0.6s ease-in-out 0.1s;
}

.who_we_are-contacts a {
    display: inline-block;
    background-color: #5ecbe7;
    width: 42px;
    height: 42px;
    display: inline-block;
    transform: translate(60px, 113px);
}

.icons {
    display: block;
    width: 25px;
    height: 25px;
    margin: 8.5px auto;
    fill: #fff;
}

.who_we_are-list_item:hover .who_we_are-contacts {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: rotateY(0deg) scale(1);
}

.who_we_are-list_item figcaption {
    font-size: 18px;
    color: rgb(40, 37, 40);
    font-weight: bold;
    margin-top: 10px;
}

.who_we_are-list_item figcaption span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    color: #646464;
}
